.alerta{

    background-color: $rojo-oscuro;
  p{

      color: $blanco;
      font-weight: bold;
      font-family: $font;

  }

  padding: .4rem .8rem;
    border-radius: .2rem;
    width: 80%;
    margin: 1rem auto;
}