.header1,.header2,.header3,.header-login{
    width: 100%;
    height: 100%;
    background-color: $rojo;
    padding: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contenido_header{
        padding-top: 1rem ;
        padding-bottom: .1rem ;
        width: 100%;
        @include desktop{

            width: 40%;

        }

    }

    .imagen_header{

        margin: auto;
        width: 80%;


    }




}

.header-login{

    .imagen_header{

        width:60%;
        margin: auto;
    }

}

.header-login{

    background-color: $blanco;
    .contenido_header{
        width: 85%;

    }

    margin-bottom: 5rem;

    @include desktop{

        margin-bottom: 8rem;

    }
}



.contenido_header2{

    display: grid;
    padding: 1rem;
    grid-template-columns: 35% 65% ;

.contenedor_imagen--perfil{

    border-radius: .1rem;
        display: block;
        margin: auto;
        width: 70%;
        height: 70%;

        img{

            width: 5rem;
            height: 5rem;
            @media (max-width: 268px){

                width: 3rem;
                height: 3rem;


            }

        }

}




        .apodo{

        width: 130%;
        background-color: $gris;
        color: black;
        padding: .5rem 1rem;
        border-radius: .88rem;
        text-align: center;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight:bold;
        font-family: $font;

        }





        .imagen_header{

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 0rem;

        }

}

.contenedor_apodo-imagen{

    display: grid;
    grid-template-rows: 30% 70%;

}


.blur1{
    filter: blur(3px);
}
.blur2{
    filter: blur(2px);
}
.blur3{
    filter: blur(1.5px);
}
.blur4{
    filter: blur(1px);
}


.header3{



    .contenido_header2{
        display: grid;
        grid-template-columns: 30% 40% 30%;

    }

    .imagen_header{

        @media (min-width: 550px){

            width: 100%;
            margin-left: 2rem;

        }


        margin-bottom: .6rem;
        @media (max-width: 300px){

            font-size: 0.5rem;
            margin-left: 1rem;
        }
    }

    .coincidencias{

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: .6rem;
        padding-left: 1.5rem;
        padding-right: 1rem;


        @media (max-width: 300px){

            padding-left: 2rem;
            padding-right: 1.5rem;


        }

        h2,p{

            color: $blanco;
            font-family: $font;

        }

        h2{

            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: .5rem;
            @media (max-width: 300px){

                font-size: 1rem;

            }

            @media (min-width: 301px){

                font-size: 1.4rem;

            }
            @media (min-width: 420px){

                font-size: 1.7rem;

            }

        }

        p{

            @media (max-width: 300px){

                font-size: 0.5rem;


            }

            @media (min-width: 301px){

                font-size: .8rem;

            }
            @media (min-width: 420px){

                font-size: 1rem;

            }

        }



    }

}