
.contenedor__intro{

    width: 80%;

}

.titulo,.intro,.texto,.subir{
    font-family: $font;
}

.titulo{
    width: 100%;
    font-weight: bold;
    font-size:1.5rem;
    margin-bottom: 2.5rem;

}

.intro{
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.texto{
    font-size: 1rem;
    margin-bottom: 2rem;

}

.form_intro{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenido__main{

    width: 80%;
    .titulo,.texto{

        margin-bottom: .8rem;

    }

    .subir{

        color: $amarillo;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 2rem;

    }

}

